* {
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: black;
  overflow: hidden;
}
.navbar a {
  float: left;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 14px 16px;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.flex-item {
  padding: 2px;
}

img {
  width: 40%;
  /* height: 5%; */
}

.photo {
  width: 100%;
  height: 50%;
}

.caption {
  width: 40%;
  margin-top: 50px;
}

.caption h1 {
  font-size: 3.5rem;
}

.option {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 100px;
  width: 30%;
}

.minCon {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
.drive,
.ride {
  width: 195px;
}

.btn {
  border-radius: 2px;
  margin-top: 5px;
  padding: 5px;
}
